.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $gradient;
  border-radius: 50%;
  
  &__fill {
    position: absolute;
    width: 81%;
    height: 81%;
    background: $dark-blue;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__fillbehind {
    height: 90%;
    width: 90%;
    z-index: 0;
  }
  
  &__progress {
    background-image: conic-gradient($pink 0deg, transparent 0deg);
    position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}